@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-image: url("../public/Assets/Img/logo192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  .header {
    background-image: url("../public/Assets/Img/logo192.png");
    background-position: center right;

    height: 65vh;

  }
}
.shop{
  background-image: url("../public/Assets/Img/shopbackgroung.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  width: 100%;
  height: 400px;
}
@media only screen and (max-width: 767px) {
  .header {
    background-image: url("../public/Assets/Img/logo192.png");
    background-position: center right;

    height: 65vh;

  }
}
.watch {
  background-image: url("../public/Assets/Img/watch.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 358.852px;
  height: 358.852px;
  overflow: hidden;
}

.timewatch{
  background-image: url("../public/Assets/Img/timewatch.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 580px;
}

.fashionperce{
  background-image: url("../public/Assets/Img/content-pixie-ZB4eQcNqVUs-unsplash 1 (1).png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 580px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {

  background-color: #F4F4F4 !important;
  border-radius: 10px !important;
  border-color: #F4F4F4 !important;
}